# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
venv/
ENV/
.env
.venv
pip-log.txt
pip-delete-this-directory.txt

# PyInstaller
*.manifest
*.spec

# Installer logs
install_logs/

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.cache
*.cover
*.py,cover
.hypothesis/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# mypy
.mypy_cache/
.dmypy.json

# pytest
.pytest_cache/

# PyCharm
.idea/
*.iml

# VSCode
.vscode/

# Local files
*.log
*.sqlite3
*.pptx

# Images
*.png